---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
	{%- if page.lang == "en" -%}
		<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
	{%- endif -%}
	{%- if page.lang == "it" -%}
		<h2 class="post-list-heading">Articoli</h2>
	{%- endif -%}
	{%- if page.lang == "de" -%}
		<h2 class="post-list-heading">Beiträge</h2>
	{%- endif -%}
	
	{% assign posts=site.posts | where:"lang", page.lang %}
    <ul class="post-list">
      {%- for post in posts -%}
		  {%- if post.refs != "hidden" -%}
		  <li>
			{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<span class="post-meta">{{ post.date | date: date_format }}</span>
			<h3>
			  <a class="post-link" href="{{ post.url | relative_url }}">
				{{ post.title | escape }}
			  </a>
			</h3>
			{%- if site.show_excerpts -%}
			  {{ post.excerpt }}
			{%- endif -%}
		  </li>
		  {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
